
.startedSection {
    position: relative;
    top: 160px;
    height: 200px;
    background: url('/Users/l/url-frontend/src/images/bg-boost-desktop.svg');
    background-color: #3b3054;
    z-index: 999;
}

.moneyMaker {
    font-size: 50px;
    color: black;
    position: relative;
    top: 40px;
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    z-index: 998;
}

.startedSectionButton {
    background-color: #2ACFCF;
    border: none;
    color: white;
    padding: 15px;
    width: 12rem;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    top: 3rem;
    cursor: pointer;
}



