.backgroundColor {
    background-color: lightgray;
    height: 400px;
    position: relative;
    top: 440px;
}

.inputBackground {
    position: relative;
    bottom: 23rem;
    left: 10rem;
}

.inputPlacement {
    position: relative;
    bottom: 10em;
    float: left;
    margin: auto;
    margin-left: 2em;
    width: 60rem;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    background: url('/Users/l/url-frontend/src/images/bg-boost-desktop.svg');
    background-color: #3b3054;
}

.searchBar {
    height: 1.5rem;
    width: 50rem;
    padding: .75rem .75rem;
}

.searchBar::placeholder {
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.buttonInput {
    background-color: #2ACFCF;
    border: none;
    width: 10rem;
    padding: 15px;
    color: white;
    margin-left: 2rem;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.buttonInput:hover {
    background-color: #CCCCCC;
}

@media only screen and (min-width: 414px) and (max-width: 812px) {
    .inputPlacement {
        position: relative;
        top: 320px;
        right: 160px;
        width: 400px;
    }
}